/* reset */
body, div, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, table, tr, th, td, form, fieldset, legend, input, label, textarea, select, button {margin: 0; padding: 0;}
body, h1, h2, h3, h4, h5, h6 {font-size: 12px; font-family: 'Noto Sans KR', sans-serif; font-weight: 400; color: #232323;}
a {text-decoration: none; color: #232323;}
ul, ol, li {list-style: none;}
img, fieldset {border: none; vertical-align: middle;}
strong, em, address {font-weight: normal; font-style: normal;}
table {border-collapse: collapse;}

/* common */
body {background-color: #ffffff; overflow-x: hidden;}
.center {margin: 0 auto; text-align: center;}
.none {display: none;}

.mb-32px {margin-bottom: 32px;}
.mb-48px {margin-bottom: 48px;} /* 80 - 32 */
.mb-80px {margin-bottom: 80px;}

.mt-192px {margin-top: 192px;} /* 240 - 48 */
.mt-240px {margin-top: 240px;}

.fs-18px{font-size: 18px !important;}

.title_text {font-size: 24px; font-family: 'Montserrat', sans-serif; font-weight: 400; line-height: 32px;}
.headline_text {font-size: 20px; font-family: 'Montserrat', sans-serif; font-weight: 400;}
.sub_text {font-size: 20px; line-height: 30px;}

.text_focus {font-weight: 700;}
.line_box {width: 60px; height: 2px; background-color: #0050B9; margin-bottom: 80px;}
.text_box {width: 600px;}
.img_box img {display: block;}

.text_list li {height: 30px; margin-bottom: 16px;}
.text_list li a {height: 30px; display: block;}
.text_list li span {font-size: 20px; font-family: 'Montserrat', sans-serif; height: 30px; line-height: 30px;}
.text_list li img {width: 30px; height: 30px; display: block; float: left; margin-right: 12px;}

/* layout */
.wrap_width {width: 100%; margin: 0 auto;}
.box_width {width: 1280px; margin: 0 auto;}

/* header */
#header {height: 104px; background-color: #ff9a3e; position: fixed; left: 0; top: 0; z-index: 100; transition-duration:0.4s; transition-timing-function:ease;}
.header {height: 40px; padding-top: 32px;}

#header .logo {width: 120px; height: 80px; float: left;}

.gnb {float: left; margin: 12px 0 0 64px;}
#header .headline_text {font-size: 16px; font-weight: 700;}
.gnb li {float: left; margin-right: 32px;}

.etc {float: right;}
.etc li {width: 120px; height: 42px; float: left; margin-left: 16px;}
.etc li:first-child {width: 52px; margin-left: 0;}
.etc li img {width: 100%; height: 100%;}
.etc li:first-child img {width: 52px; height: 42px;}
.etc li a {display: block;}

/* footer */
#footer {margin-top: 120px; position: relative;}
#footer::before {content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 1px; background-color: #ddd;}
.footer {padding-top: 64px;}

#footer .logo {width: 32px; height: 32px;}

#footer .text_box {padding-top: 40px; width: 100%;}
#footer p {font-size: 12px; line-height: 16px; color: #777; margin-bottom: 48px;}
#footer p:first-child {font-size: 16px; line-height: 24px; margin-bottom: 32px;}

#footer .menu {width: 100%; height: 48px; background-color: #111;}
#footer .menu ul li {float: left; margin-right: 20px; margin-top: 8px; font-size: 14px; line-height: 32px; color: #ddd; font-weight: 700;}
#footer .menu ul li:last-child {float: right; color: #444;}
#footer .menu ul li a {display: block; color: #fff;}

/* -------------------- index.html -------------------- */
/* main */
.mov_container {width:100%; height:auto;}
#mov {width: 100%; height: auto;}

.main p {margin: 400px auto; text-align: center;}
.main .title_text {font-size: 32px; color: #0050B9; line-height: 40px; font-weight: 400;}

/* economy */
.economy .img_box {width: 100%; background-color: #fffdf5; padding: 48px 0;}
.economy .img_box img {width: 1080px; height: 540px; display: block; margin: 0 auto;}
.economy .line_box {margin-top: 160px;}

/* bloom */
.bloom {height: 792px; background: url(../img/img_bloom_bg.png) center bottom no-repeat;} /* 192 + 600 */
.bloom .text_box {float: left;}

.bloom .img_box {float: right;}
.bloom .img_box,
.bloom .img_box img {width: 600px; height: 600px;}

/* project */
.project .img_box,
.project .img_box img {width: 1280; height: 508px;}

/* decentralized */
.decentralized {margin-top: 192px; height: 576px; background-color: #F5FFFF;} /* 48 + 480 + 48 */

.decentralized .img_box {float: left; padding: 48px 0; margin-left: 120px;}
.decentralized .img_box,
.decentralized .img_box img {width: 480px; height: 480px;}

.decentralized .text_box {float: right; text-align: left; margin-top: 180px;}


/* partners */
.partners_list div {margin: 0 32px; height: 48px;}
.partners_list div img {width: auto; height: 48px;}


/* community */
.community {height: 176px;} /* 2 + 80 + 32 + 32 + 30 */
.community .text_box {float: left;}

.community .text_list li {margin-bottom: 0;}

.sns {float: right;}
.sns li {width: 64px; height: 64px; float: left; margin-right: 24px;}
.sns li:last-child {margin-right: 0;}
.sns li a {display: block;}



/* -------------------- token.html -------------------- */
/* myce */
.myce {height: 712px;} /* 240 + 472 */
.myce .text_box {float: left;}

.myce .img_box {float: right;}
.myce .img_box,
.myce .img_box img {width: 600px; height: 472px;}


/* feature */
.feature_box {width: 100%; height: 480px; position: relative;}

.feature .img_box,
.feature .img_box img {width: 480px; height: 480px;}

.feature .left .text_box {position: absolute; left: 50%; top: 50%; transform: translateY(-50%);}
.feature .right .text_box {position: absolute; right: 50%; top: 50%; transform: translateY(-50%); text-align: right;}
.left .img_box {float: left; margin-left: 120px;}
.right .img_box {float: right; margin-right: 120px;}

.feature .text_box .sub_text {margin-top: 16px;}
.feature .text_box .text_focus {font-size: 24px; font-family: 'Montserrat', sans-serif; font-weight: 700;}
.feature .text_box .text_focus img {width: 30px; height: 30px; margin: -4px 12px 0 0;}

/* service */
.service .img_box,
.service .img_box img {width: 1080px;}

/* -------------------- bloom.html -------------------- */
/* platform */
.platform {height: 659px; background: url(../img/img_platform_bg.svg) center top no-repeat;} /* 240 + 419 */

.platform .text_box {float: left; width: 550px;}

.platform .img_box {float: right;}
.platform .img_box,
.platform .img_box img {width: 650px; height: 419px; display: block;}


/* token */
.token .img_box,
.token .img_box img {width: 450px; height: 1205px; margin: 0 auto;}

.token .title_text {padding-top: 80px;}

/* NFT */
.nft .img_box,
.nft .img_box img {width: 1080px; height: 741px; margin: 0 auto;}

.nft .btn {width: 76px; height: 30px; margin-top: 32px;}
.nft .btn li {width: 30px; height: 30px; float: left;}
.nft .btn li:first-child {margin-right: 16px;}
.nft .btn li a,
.nft .btn li img {width: 30px; height: 30px; display: block;}

/* utility */
.utility {height: 930px; background: url(../img/img_utility_bg.png) center bottom no-repeat;} /* 240 + 690 */

.utility .text_box {float: left;}

.utility .img_box {float: right;}
.utility .img_box,
.utility .img_box img {width: 540px; height: 690px;}



/* -------------------- dev.html -------------------- */
/* team */
.team_box {width: 240px; height: 432px; margin: 0 40px;}
.team .slick-slide {height: 432px}
.team .team_list .img_box {margin-bottom: 32px;}
.team .team_list .img_box,
.team .team_list .img_box img {width: 240px; height: 240px; display: block;}

.team .team_list .text_box {width: 240px; margin-bottom: 12px;}
.team .team_list a {float: right}
.team .team_list a,
.team .team_list a img {width: 30px; height: 30px; display: block;}
.team .team_list .sub_text {line-height: 26px;}

.team .btn {width: 76px; height: 30px;}
.team .btn li {width: 30px; height: 30px; float: left;}
.team .btn li:first-child {margin-right: 16px;}
.team .btn li a,
.team .btn li img {width: 30px; height: 30px; display: block;}

/* roadmap */
.roadmap .text_list {width: 390px; height: 30px; margin: 0 auto; padding-bottom: 80px;}
.roadmap .text_list li {float: left; margin-bottom: 0px;}
.roadmap .text_list li:first-child {margin-right: 80px;}

.roadmap_wrap .headline_text {margin-bottom: 16px;}
.roadmap_wrap .roadmap_list {padding-bottom: 32px; margin-bottom: 16px; position: relative;}

.roadmap_wrap .roadmap_list::before {content: ""; position: absolute; left: 25px; top: 0; width: 2px; height: 100%; background-color: #ff9a3e;}

.roadmap_title {width: 160px; float: left; margin-left: 46px;}
.roadmap_wrap .title_text {font-weight: 400; line-height: 30px;}

.roadmap_box {width: 520px; float: left;}
.roadmap_wrap .first {margin-right: 24px;}
.roadmap_box li img {width: 30px; height: 30px; margin-right: 8px;}

.roadmap_box .sub_text {padding-left: 14px;}



/* -------------------- paper.html -------------------- */
/* paper */
.paper.wrap_width {background: url(../img/img_paper.jpg) center top no-repeat; margin-top: 104px;}
.paper {height: 1000px; position: relative;}
.paper .box_width {height: 222px; position: absolute; left: 50%; top: 120px; transform: translateX(-50%);}


.paper .footer {position: absolute; left: 320px; bottom: 0;}

.paper .footer .text_box {padding-top: 40px; width: 100%;}
.paper .footer p {font-size: 12px; line-height: 16px; color: #232323; margin-bottom: 24px;}


/*gototop btn:s*/
.c-go-top {
/*	background: none repeat scroll 0 0 padding-box #ffffff;*/
/*	border: 1px solid #1099dd;*/
    background: linear-gradient(229deg, rgb(255 125 0), rgb(255 94 0) 70.71%),
      linear-gradient(84deg, rgb(255 183 59), rgba(0,255,0,0) 70.71%),
      linear-gradient(343deg, rgb(255 134 47), rgb(255 255 255 / 0%) 70.71%);
	bottom: 30px;
	border-radius: 4px;
	color: #333333;
	display: none;
	font-size: 12px;
	opacity: 1;
	padding: 7px 10px;
	position: fixed;
	right: 2%;
	text-decoration: none;
	z-index: 999;
    color: #ffffff !important;
    font-weight: 600;

}

.c-go-top:hover,
.c-go-top:focus,
.c-go-top:active,
.c-go-top:visited {
	color: #fff;
	outline: 0;
	text-decoration: none;
	background-color: #ff9a3e;
    transition: 0.5s

}

.down {
	background-color:#ffffff !important;
	border-bottom: 1px solid #111;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
	-webkit-transition-duration:0.4s;
	-webkit-transition-timing-function:ease;
	transition-duration:0.4s;
	transition-timing-function:ease;
  }

/*gototop btn:e*/

/*애니메이션 시리즈:s*/
/*1번 애니메이션:s*/
.animation-move {
	-webkit-animation: mover 2s infinite alternate;
	animation: mover 2.5s infinite alternate;
	animation-delay: 350ms;
}

@keyframes mover {
	0% {
		transform: translateY(0px);
	}

	100% {
		transform: translateY(10px);
	}
}
/*1번 애니메이션:e*/
/*애니메이션 시리즈:e*/

.slick-track{display: flex !important;
    align-items: center !important;}
